@*this page contains the shared view*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    @*dynamic title*@
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="img/shepherd.png">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/StyleSheet.css" rel="stylesheet" />
</head>

<body>

    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="GradeCalcForm">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/JavaScript.js"></script>

</body>


</html>
