@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Douglas Bubbletrousers";
}


<h1>The name is Douglas, but you can call me Doug.</h1>
<img src="img\Attachment.jpeg" width="600" />
<div>
    <p>
        I want 413 to help me become a weapon. I took a year and a half break after the first semester of the junior core. I ended up working full time <br />at a company I really like and am valued at.
        There are so many things I could do to improve the business <br />if I had a better grasp on programming, both the critical thinking aspect of it as well as the hard skills associated with it. <br /> I believe I will bring
        much more valuable to the company after 413 and these other classes.
    </p>
</div>
<h2>Top 3 Jobs Interests</h2>
<ol>
    <li>Business development/technical strategy at my current company</li>
    <li>Being all things data and tech for a startup</li>
    <li>Masters Degree in Data Science. More school!</li>

</ol>

<br />
<br />